body, footer{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    min-width: 15rem;
    min-height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 100%;
}

.input__container{
    display: flex;
}

.words__list{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
}

.words__item{
    list-style: none;
    margin: 0.2rem;
}

.words__tag{
    padding: 0 0.5rem;

    display: flex;
    justify-content: space-between;

    background-color: #0275B1;
    border-radius: 1.6rem;
}

.words__text{
    margin-right: 0.5rem;

    color: #fff;
    font-weight: 600;
}

.words__bttn{
    all: unset;
}
    .words__bttn img{
        height: 0.5rem;
    }
    .words__bttn:hover{
        cursor: pointer;
    }

.footer__list{
    margin: 1rem 0 1rem 0;
    padding: 0;
    background-color: red;

    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer__item{
    list-style: none;
}